<p>google-map works!</p>

<div class="control" id="arrow-control">
    <i class="fas fa-arrows-alt"></i>
    <i class="fas fa-external-link-alt"></i>
    <i class="fas fa-undo" id="fa-undo"></i>
    <i class="fas fa-ellipsis-v"></i>
</div>

<div class="control-two" id="street-control">
    <i class="fas fa-street-view"></i>
</div>

<div class="control-two" id="filter">
    <i class="fas fa-filter"></i>
</div>

<div class="control-two" id="ruler">
    <i class="fas fa-ruler"></i>
    <i class="fas fa-map-marked-alt"></i>
    <i class="fas fa-pencil-alt"></i>
</div>

<div class="control-two" id="lock">
    <i class="fas fa-unlock"></i>
    <i class="fas fa-plus" id="fa-plus"></i>
    <i class="fas fa-minus"></i>
</div>

<div id="map"></div>